<!--Importando o navbar-->
<app-navbar></app-navbar>
<div class="pagamento-container">
  <div class="forms mt-4">
    <div class="title">
      <h5 class="card-title fs-3 fw-bold pt-4">Finalizando a compra</h5>
    </div>
    <!--Primeira parte-->
    <div *ngIf="currentSection === 1" class="information mb-4 mt-4">
      <div class="group">
        <img src="../../../assets/product-primary.svg" alt="">
        <p class="text-danger">Produto</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/address-primary.svg" alt="">
        <p class="text-secondary">Endereço</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/currency-primary.svg" alt="">
        <p class="text-secondary">Pagamento</p>
      </div>
    </div>
    <div *ngIf="currentSection === 1" class="header-form mt-3">
      <img src="../../../assets/af01.jpg" alt="">
      <h5 class="card-title fs-3 mt-3 mb-2">Action Figure Zoro</h5>
      <h5 class="text-muted mb-2">Tamanho: 21cm</h5>
      <p class="card-text mb-2">Action figure feito com o material ABS<br> Acompanha suporte!</p>
      <h5 class="card-title fs-3 fw-bold">R$218,90</h5>
    </div>
    <div *ngIf="currentSection === 1" class="footer-form mt-3 mb-3">
      <button class="btn btn-outline-danger" [routerLink]="['/action-figures']">Cancelar</button>
      <button class="next btn btn-danger" (click)="nextSection()">Próximo</button>
    </div>
    <!--Segunda parte-->
    <div *ngIf="currentSection === 2" class="information mb-4 mt-4">
      <div class="group">
        <img src="../../../assets/product-secondary.svg" alt="">
        <p style="color:#500000">Produto</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/address-secondary.svg" alt="">
        <p class="text-danger">Endereço</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/currency-secondary.svg" alt="">
        <p class="text-secondary">Pagamento</p>
      </div>
    </div>
    <div *ngIf="currentSection === 2" class="forms-divider">
      <div class="formulário-endereço">
        <div class="team-in">
          <label for="">Estado</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Cidade</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Bairro</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">CEP</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Endereço</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Celular</label>
          <input type="name" name="" id="">
        </div>
      </div>
      <div class=" rigth-img">
        <img src="../../../assets/af01.jpg" alt="">
        <h5 class="card-text mb-2">Action Figure Zoro</h5>
        <h5 class="text-muted mb-2">R$119,90</h5>
      </div>
    </div>
    <div *ngIf="currentSection === 2" class="footer-forms mb-3 mt-3">
      <button class="btn btn-outline-danger" (click)="backSection()">Voltar</button>
      <button class="next btn btn-danger" (click)="nextSection()">Próximo</button>
    </div>
    <!--Terceira parte-->
    <div *ngIf="currentSection === 3" class="information mb-4 mt-4">
      <div class="group">
        <img src="../../../assets/product-tertiary.svg" alt="">
        <p style="color:#500000">Produto</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/address-tertiary.svg" alt="">
        <p style="color:#500000">Endereço</p>
        <img src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img src="../../../assets/currency-tertiary.svg" alt="">
        <p class="text-danger">Pagamento</p>
      </div>
    </div>

    <div *ngIf="currentSection === 3" class="payment">
      <div class="info-form">

        <div class="checkbox">
          <input type="radio" id="chk1" class="checkbox" name="chk">
          <label for="chk1" name="chk">
            <p class="text-term">Pix</p>
          </label>
        </div>
        <div class="checkbox">
          <input type="radio" id="chk2" class="checkbox" name="chk">
          <label for="chk2" name="chk">
            <p class="text-term">Boleto Bancário</p>
          </label>
        </div>
        <div class="checkbox">
          <input type="radio" id="chk3" class="checkbox" name="chk">
          <label for="chk3" name="chk">
            <p class="text-term">Cartão de crédito</p>
          </label>
        </div>
      </div>

    </div>
    <div *ngIf="currentSection === 3" class="footer-forms mb-3 mt-3">
      <button class="btn btn-outline-danger" (click)="backSection()">Voltar</button>
      <button class="next btn btn-danger">Comprar</button>
    </div>
  </div>


</div>
