@media screen and (max-width:415px) {
  .pix {
    .mesage {
      padding: 6px;
    }
  }
}

@media (max-width:750px) {
  .container {
    padding: 10px;
    width: 100%
  }

  .text-green {
    font-size: 14px
  }

  .card.box1,
  .card.box2 {
    width: 100%
  }

  .nav.nav-tabs .nav-item .nav-link {
    font-size: 12px
  }
}

@media screen and (max-width: 700px) {
  .rigth-img {
    display: none;
  }

  .formulário-endereço {
    padding: 0;
  }
}


@media screen and (max-width: 500px) {
  .circle-icon {
    width: 20px;
  }

  .text-secondary {
    font-size: 10px;
  }

  .information {
    .group {
      gap: 2px
    }
  }

  .footer-forms {
    padding: 0;
  }

  .forms-divider {
    padding: 0 28px 0 16px;
  }
}

@media screen and (max-width: 450px) {
  .team-in {
    input {
      width: 260px;
    }
  }

  .grey {
    font-size: 16px !important;
  }

  label::before {
    height: 12px !important;
    width: 12px !important
  }

  label::after {
    width: 7px !important;
    height: 7px !important;
    left: 6px !important;
  }

  .text-term {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .circle-icon {
    width: 16px !important;
  }

  .icon-separator {
    width: 12px !important;
  }

  .text-secondary,
  .text-danger,
  .sucess {
    font-size: 14px !important;
  }

  .header-form {
    padding: 0 16px;
    margin: 0 !important;
  }
}

@media screen and (max-width: 360px) {
  .header-form {
    padding: 16px;
  }

  .image-first {
    width: 248px !important
  }

  .forms {
    width: 90% !important;
  }
}
