<!--Importando o navbar-->
<app-navbar></app-navbar>
<div class="pagamento-container">
  <div class="forms mt-4">
    <div class="title">
      <h5 class="card-title fs-3 fw-bold pt-4">Finalizando a compra</h5>
    </div>
    <!--Primeira parte-->
    <div *ngIf="currentSection === 1" class="information mb-4 mt-4">
      <div class="group">
        <img class="circle-icon" src="../../../assets/product-primary.svg" alt="">
        <p class="text-danger">Produto</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/address-primary.svg" alt="">
        <p class="text-secondary">Endereço</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/currency-primary.svg" alt="">
        <p class="text-secondary">Pagamento</p>
      </div>
    </div>
    <div *ngIf="currentSection === 1" class="header-form mt-3">
      <img class="image-first" src="../../../assets/af01.jpg" alt="">
      <h5 class="card-title fs-3 mt-3 mb-2">Action Figure Zoro</h5>
      <h5 class="text-muted mb-2">Tamanho: 21cm</h5>
      <p class="card-text mb-2">Action figure feito com o material ABS<br> Acompanha suporte!</p>
      <h5 class="card-title fs-3 fw-bold">R$218,90</h5>
    </div>
    <div *ngIf="currentSection === 1" class="footer-form mt-3 mb-3">
      <button class="btn btn-outline-danger" [routerLink]="['/action-figures']">Cancelar</button>
      <button class="next btn btn-danger" (click)="nextSection()">Próximo</button>
    </div>
    <!--Segunda parte-->
    <div *ngIf="currentSection === 2" class="information mb-4 mt-4">
      <div class="group">
        <img class="circle-icon" src="../../../assets/product-secondary.svg" alt="">
        <p class="sucess" style="color:#500000">Produto</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/address-secondary.svg" alt="">
        <p class="text-danger">Endereço</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/currency-secondary.svg" alt="">
        <p class="text-secondary">Pagamento</p>
      </div>
    </div>
    <div *ngIf="currentSection === 2" class="forms-divider">
      <div class="formulário-endereço">
        <div class="team-in">
          <label for="">Estado</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Cidade</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Bairro</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">CEP</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Endereço</label>
          <input type="name" name="" id="">
        </div>
        <div class="team-in">
          <label for="">Celular</label>
          <input type="name" name="" id="">
        </div>
      </div>
      <div class="rigth-img">
        <img class="second-image" src="../../../assets/af01.jpg" alt="">
        <h5 class="card-text mb-2">Action Figure Zoro</h5>
        <h5 class="text-muted mb-2">R$119,90</h5>
      </div>
    </div>
    <div *ngIf="currentSection === 2" class="footer-forms mb-3 mt-3">
      <button class="btn btn-outline-danger" (click)="backSection()">Voltar</button>
      <button class="next btn btn-danger" (click)="nextSection()">Próximo</button>
    </div>
    <!--Terceira parte-->
    <div *ngIf="currentSection === 3" class="information mb-2 mt-4">
      <div class="group">
        <img class="circle-icon" src="../../../assets/product-tertiary.svg" alt="">
        <p class="sucess" style="color:#500000">Produto</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/address-tertiary.svg" alt="">
        <p class="sucess" style="color:#500000">Endereço</p>
        <img class="icon-separator" src="../../../assets/Icones.svg" alt="">
      </div>
      <div class="group">
        <img class="circle-icon" src="../../../assets/currency-tertiary.svg" alt="">
        <p class="text-danger">Pagamento</p>
      </div>
    </div>

    <div *ngIf="currentSection === 3" class="payment">
      <div class="msg d-flex flex-column align-items-center">
        <h5 class="grey card-title fs-5 mt-3 mb-3">Escolha a forma de pagamento</h5>

        <div class="info-form">
          <div class="checkbox">
            <input type="radio" id="chk1" class="checkbox" name="chk">
            <label for="chk1" name="chk">
              <p class="text-term">Pix</p>
            </label>
          </div>
          <div class="checkbox">
            <input type="radio" id="chk2" class="checkbox" name="chk">
            <label for="chk2" name="chk">
              <p class="text-term">Boleto</p>
            </label>
          </div>
          <div class="checkbox">
            <input type="radio" id="chk3" class="checkbox" name="chk">
            <label for="chk3" name="chk">
              <p class="text-term">Cartão</p>
            </label>
          </div>
        </div>

        <!--Pagamento no cartão-->
        <!-- <div class="cont">
          <div class="card box2 shadow-sm">
            <form action="">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Nome</span>
                    <div class="inputWithIcon"> <input class="form-control" type="text"
                        placeholder="Lucas Finoti"> <span class="far fa-user"></span> </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Cartão de crédito</span>
                    <div class="inputWithIcon">
                      <input class="form-control" type="text" placeholder="5115 5115 5115 5115">
                      <span class="">
                         <img class="logo"
                          src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png"
                          alt="">
                      </span>
                     </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Data<span
                        class="ps-1">de validade</span></span>
                    <div class="inputWithIcon"> <input type="text" class="form-control" placeholder="05/2024"> <span
                        class="fas fa-calendar-alt"></span> </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> <span>Código CVV</span>
                    <div class="inputWithIcon"> <input type="password" class="form-control" placeholder="123"> <span
                        class="fas fa-lock"></span> </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div> -->


        <!--Pagamento com pix-->
        <div class="pix">
          <button ngxClipboard [cbContent]="'a56c-4928-98be-9b7bbf14beeab'" class="btn btn-danger"
            (cbOnSuccess)="onCopySuccess()">
            <img src="../../../assets/copy.svg" alt="">
          </button>
          <p class="mesage">a56c-4928-98be-9b7bbf14beeab</p>
        </div>
      </div>

    </div>
    <div *ngIf="currentSection === 3" class="footer-forms mb-3 mt-3">
      <button class="btn btn-outline-danger" (click)="backSection()">Voltar</button>
      <button class="next btn btn-danger">Comprar</button>
    </div>
  </div>


</div>
