* {
    font-family: var(--font-family-primary)!important;
}

.container-action-figure{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #000;
    .card{
        display: flex;
        align-items: center;
        border-radius: 16px!important;
        
        .icon-favorito{
            display: flex;
            position: absolute;
            justify-content: end;
            right: 28px;
            .icon-heart{
                width: 24px;
                position: relative;
            }
        }    
        img{
            width:200px
        }
        .card-body{
            .card-title{
                font-size: 40px;
                font-weight: 500;
            }
            .price{
              color:#000;
              font-size: 20px;
              text-transform: uppercase;

            }
        }
    }
}