<div class="container-action-figure p-4">
    <div class="content" *ngFor="let item of lista; let i = index">
        <div class="card" style="width: 18rem;">
            <div (click)="alterIcon(i)"class="icon-favorito pt-4">
                <img class="icon-heart" src="{{item.default}}">
            </div>
            <img class="card-img-top" [src]=item.src alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title fs-3">{{item.nome}}</h5>
                <h5 class="text-muted mb-2">{{item.tamanho}}cm</h5>
                <p class="card-text mb-2">Action figure feito com o material ABS. Acompanha suporte!</p>
                <h5 class="card-title fs-3 fw-bold">R${{item.preco}}</h5>
            </div>

            <div class="card-body">
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
    </div>


    <!--Pagination-->

    <nav aria-label="...">
        <ul class="pagination pagination-lg">
            <li class="page-item"><a class="page-link" id="active" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
        </ul>
    </nav>
</div>