<!--Importando o navbar-->
<app-navbar></app-navbar>

  <div class="container-login">

<div class="form">
    <h2 class="titulo-login">Entre e aproveite nossas promoções!</h2>
    <div class="campo">
        <label for="">E-mail</label>
        <input class="input-login" type="email">
    </div>
    <div class="campo">
        <label for="">Senha</label>
        <input [type]="MostrarSenha ? 'text' : 'password'" class="input-login" type="password" id="">
        <img class="image" [src]="MostrarSenha ?  '../../../assets/unlock.svg' : '../../../assets/lock.svg' " (click)="visibilidadeSenha()" >

    </div>
    <button class="btn btn-outline-danger"  type="submit">Entrar</button>
    <h3>Não Possui conta? <a [routerLink]="['/cadastro']" style="text-decoration: none;">Cadastre-se</a> </h3>
</div>

</div>
