
.container-login{
    background-image:url(../../../assets/Bg-Cadastro.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .form{       
        padding: 52px;
        margin: 48px 48px;
        height: 560px;
        width: 468px;
        border: 4px #ff0000;
        border-style: double;
        background: #000000b6;
        border-radius: 16px;
        //alinhamento
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button{
            font-family: var(--font-family-second);
            font-size: 20px;
            width: 120px;
            background-color: #ff0000;
            font-weight: 400;
            color:#fff;
            border: none
          
        }
        h3{
            color:#fff;
            font-size: 20px;
            text-transform: initial;
            text-align: center;
            font-weight: 400;
            font-family: var(--font-family-second);
        }
        a{
            color:#ff0000;
            font-weight: 500;
        }
       
        .campo{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            .input-login{

                width:100%;
                font-size: 20px;
                width: 304px;
                height: 36px;
                border-radius: 8px;
                border: 1.6px solid #fff;
                font-family: var(--font-family-second);
                font-weight: 400;
                padding:8px;
                background-color: #000000;
                color: #fff;
            }
            .image{
                position: absolute;
                width: 20px;
                right: 8px;
                bottom: 8px;
            }
            label{
                font-weight: 300;
                font-size: 20px;
                color:#ff0000;
                font-family: var(--font-family-second);
                margin-bottom: 10px;
            }
        }
    }
    

    .titulo-login{
        color:#fff;
        font-size: 24px;
        text-transform: initial;
        text-align: center;
        font-weight: 500;
        font-family: var(--font-family-second);
    }
    

}


//Responsividade

@media screen and (max-width: 450px) {
    .form{       
        padding: 48px!important;
        margin: 4px 4px!important;
        height: 600px!important;
        width: 340px!important;
        gap: 20px!important
    }
        .titulo-login{
            font-size: 20px!important;
        }
        .label{
            font-weight: 500!important;
        }
        .input-login{
            font-size: 18px!important;
            
        }
        h3{
            font-size: 18px;
        }
    }
    


@media screen  and (max-width: 350px) {
    .form{
        width: 300px!important;
        padding: 32px!important;
        margin-bottom: 36px!important;
    }
    
    .input-login{

        width: 100%;
        font-size: 16px!important;
        width: 276px!important;
        height: 32px!important;
    }
    .image{
        position: absolute;
        width: 20px;
        right: 8px;
        bottom: 6px!important;
    }
    h3{
        font-size: 16px;
    }
}
