
.container-login{
    background-image:url(../../../assets/Bg-Cadastro.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .form{       
        padding: 52px;
        margin: 48px 48px;
        height: 560px;
        width: 468px;
        border: 4px #ff0000;
        border-style: double;
        background: #000000b6;
        border-radius: 16px;
        //alinhamento
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button{
            font-family: var(--font-family-second);
            font-size: 20px;
            width: 120px;
            background-color: #ff0000;
            font-weight: 400;
            color:#fff;
            border: none
          
        }
        h3{
            color:#fff;
            font-size: 20px;
            text-transform: initial;
            text-align: center;
            font-weight: 400;
            font-family: var(--font-family-second);
        }
        a{
            color:#ff0000;
            font-weight: 500;
        }
       
        .campo{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            .input-login{

                width:100%;
                font-size: 20px;
                width: 304px;
                height: 36px;
                border-radius: 8px;
                border: 1.6px solid #fff;
                font-family: var(--font-family-second);
                font-weight: 400;
                padding:8px;
                background-color: #000000;
                color: #fff;
            }
            .image{
                position: absolute;
                width: 20px;
                right: 8px;
                bottom: 8px;
            }
            label{
                font-weight: 300;
                font-size: 20px;
                color:#ff0000;
                font-family: var(--font-family-second);
                margin-bottom: 10px;
            }
        }
    }
    

    .titulo-login{
        color:#fff;
        font-size: 24px;
        text-transform: initial;
        text-align: center;
        font-weight: 500;
        font-family: var(--font-family-second);
    }
    

}




.politicas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    
    input:checked{
        background-color: #ff0000;
    }
    
   
}
.text-term{
    color:#fff;

}

a{
    color:#ff0000;
    font-family: var(--font-family-second);
    text-transform: capitalize;
}
.logar{
    font-size: 18px;
    text-decoration: none;
}



.checkbox {
    display: inline-block;
    vertical-align: middle;

  }
  .checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .checkbox label {
    position: relative;
    padding-left: 2.2em;
    display: inline-block;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background: #FFF;
    margin-right: 0.5em;
    border-radius: 2px;;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .checkbox label::after {
    content: "\2713";
    position: absolute;
    top: 55%;
    left: 8px;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .checkbox label:focus::before, .checkbox label:hover::before {
    background: #DDD;
  }
  .checkbox input:checked + label::before {
    background:  #ff0000;
    border-color: #ff0000
  }
  .checkbox input:checked + label::after {
    opacity: 1;
  }



//Responsividade

@media screen and (max-width: 450px) {
    .form{       
        padding: 48px!important;
        margin: 4px 4px!important;
        height: 600px!important;
        width: 340px!important;
        gap: 20px!important
    }
        .titulo-login{
            font-size: 20px!important;
        }
        .label{
            font-weight: 500!important;
        }
        .input-login{
            font-size: 18px!important;
            
        }
        h3{
            font-size: 18px;
        }
    }
    


@media screen  and (max-width: 350px) {
    .form{
        width: 300px!important;
        padding: 32px!important;
        margin-bottom: 36px!important;
    }
    
    .input-login{

        width: 100%;
        font-size: 16px!important;
        width: 276px!important;
        height: 32px!important;
    }
    .image{
        position: absolute;
        width: 20px;
        right: 8px;
        bottom: 6px!important;
    }
    h3{
        font-size: 16px;
    }
}


@media screen and (max-width: 450px) {
    .form{
        margin-top: 40px !important;
        height: 760px !important;
        margin-bottom: 40px!important;
    }
    
}