<div class="container-login">

    <div class="form">
        <h2 class="titulo-login">Cadastre-se para aproveitar nossas promoções!</h2>
        <div class="campo">
            <label for="">Nome</label>
            <input class="input-login" type="nome">
        </div>
        <div class="campo">
            <label for="">E-mail</label>
            <input class="input-login" type="email">
        </div>
        <div class="campo">
            <label for="">Senha</label>
            <input [type]="MostrarSenha ? 'text' : 'password'" class="input-login" type="password" id="">
            <img class="image" [src]="MostrarSenha ?  '../../../assets/eye-on.svg' : '../../../assets/eye-off.svg' " (click)="visibilidadeSenha()" >
         
        </div>
        <div class="campo">
            <label for=""> Confirmação de Senha</label>
            <input [type]="MostrarSenha ? 'text' : 'password'" class="input-login" type="password" id="">
            <img class="image" [src]="MostrarSenha ?  '../../../assets/eye-on.svg' : '../../../assets/eye-off.svg' " (click)="visibilidadeSenha()" >
         
        </div>
        <div class="checkbox">
            <input type="checkbox" id="chk1" class="checkbox" name="chk">
            <label for="chk1">
                <p class="text">Eu li e aceito todos os  <a>termos de privacidade</a></p>
            </label>
          </div>
      
        <button class="btn btn-outline-danger"  type="submit">Cadastrar</button>
        <h3>Já Possui conta? <a class="logar">Entrar</a> </h3>
    </div>
    
    </div>