.d-block{
    border-radius: 24px;
    width: 90%;
}

.d-block-d{
    width: 32%;
    border-radius: 28px;
}

.container{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:800px) {
    
    .d-block{
        border-radius: 16px;
    }
    
    .d-block-d{
        border-radius: 20px;
    }
}