<div class="header">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block " src="../../../assets/slide_1.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block" src="../../../assets/slide_2.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block " src="../../../assets/slide_3.jpg" alt="Terceiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block " src="../../../assets/slide04.jpg" alt="Terceiro Slide">
      </div>
    </div>
  </div>
  <img class="d-block-d" src="../../../assets/app.jpg" alt="Segundo Slide">
</div>

<div class="title-indicacoes">
  <h2>Indicações Mugiwara Store</h2>
  <img class="arrow" src="../../../assets/check-circle.svg">
</div>

<div class="indicacoes">

  <div class="card text-bg-danger mb-3" style="max-width: 16.5rem;">

    <div class="card-body">
      <div class="circle">
        <img src="../../../assets/circle-white.png">
      </div>
      <h5 class="card-title">Formas de pagamento</h5>
      <p class="card-text">Os pagamentos podem ser efetuados no cartão de crédito, débito, pix ou boleto bancário</p>
      <div class="arrow">
        <img src="../../../assets/arrow-right.svg">
      </div>
    </div>
  </div>

  <div class="card text-bg-danger mb-3" style="max-width: 16.5rem;">

    <div class="card-body">
      <div class="circle">
        <img src="../../../assets/circle-white2.png">
      </div>
      <h5 class="card-title">Frete Gratis</h5>
      <p class="card-text">Para compras acima de R$250,00</p>
      <div class="arrow">
        <img src="../../../assets/arrow-right.svg">
      </div>
    </div>
  </div>

  <div class="card text-bg-danger mb-3" style="max-width: 16.5rem;">

    <div class="card-body">
      <div class="circle">
        <img src="../../../assets/circle-white4.png">
      </div>
      <h5 class="card-title">Variedade de produtos</h5>
      <p class="card-text">Imensa variedade de produtos</p>
      <div class="arrow">
        <img src="../../../assets/arrow-right.svg">
      </div>
    </div>
  </div>

  <div class="card text-bg-danger mb-3" style="max-width: 16.5rem;">

    <div class="card-body">
      <div class="circle">
        <img src="../../../assets/circle-white3.png">
      </div>
      <h5 class="card-title">Envio para todo o Brasil</h5>
      <p class="card-text">Entrega em todas as cidades de todos os estados do país</p>
      <div class="arrow">
        <img src="../../../assets/arrow-right.svg">
      </div>
    </div>
  </div>


</div>

<div class="destaques">
  <div class="title-destaques">
    <h2>Top 3 mais populares</h2>
    <img class="arrow" src="../../../assets/arrow.svg">
  </div>

  <div class="cards-top">
    <div class="card">
      <h3>Mangás</h3>
      <span></span>
      <div class="completo">
        <img src="../../../assets/manga01.jpg">
        <div class="info">
          <p class="titulo">vol. 01 Capa comum</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">1º em vendas</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/manga02.jpg">
        <div class="info">
          <p class="titulo">vol. 72 Capa comum</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">2º em vendas</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/manga03.jpg">
        <div class="info">
          <p class="titulo">vol. 89 Capa comum</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">3º em vendas</p>
        </div>
      </div>
    </div>



    <div class="card">
      <h3>Action Figures</h3>
      <span></span>
      <div class="completo" id="primary">
        <img src="../../../assets/af01.jpg">
        <div class="info">
          <p class="titulo">Zoro</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">1º em buscas</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/af02.jpg">
        <div class="info">
          <p class="titulo">Shanks</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">2º em buscas</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/af03.jpg">
        <div class="info">
          <p class="titulo">Luffy</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">3º em buscas</p>
        </div>
      </div>
    </div>



    <div class="card">
      <h3>Quadros decorativos A4</h3>
      <span></span>
      <div class="completo">
        <img src="../../../assets/qd01.jpg">
        <div class="info">
          <p class="titulo">Gear Four</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">1º em recomendações</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/qd02.jpg">
        <div class="info">
          <p class="titulo">Mugiwara</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">2º em recomendações</p>
        </div>
      </div>
      <div class="completo">
        <img src="../../../assets/qd03.jpg">
        <div class="info">
          <p class="titulo">Barba Branca</p>
          <p class="posicao"><img src="../../../assets/hash.svg" class="icon">3º em recomendações</p>
        </div>
      </div>
    </div>



  </div>
</div>