h2 {
    background-color: #000;
    color: #fff;
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize
}

.indicacoes{
    display: flex;
    background-color: #000;
    padding: 56px;
    flex-wrap: wrap;
    justify-content: space-between;
    .circle{
        display: flex;
        justify-items: end;
        img{
            width:48px;
            margin-bottom: 24px;
            
        }
    }
    .card-body{
        background-color: #ff0000;
        justify-content: space-between;

        .arrow{
            display: flex;
            flex-direction: row-reverse;
                        img{
                width: 24px
            }
        }
        .card-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 24px;
        }
        .card-text{
            font-size: 16px;
            font-weight:300;

        }

    }
    .card-text{
        height: 96px;
        
    }
}

.title-indicacoes{
    display: flex;
    flex-direction: row;
    background-color: #000;
    padding: 56px;
    gap: 12px;

    img {
        width: 32px;
    }
}
.destaques {
    display: flex;
    background-color: #000;
    padding: 56px;
    flex-direction: column;

    .title-destaques {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-bottom: 48px;

        img {
            width: 32px;
        }
    }
    .cards-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{ 
            display: flex;
            flex-direction: column;
            background-color: #000;
            justify-content: space-between;
            gap: 28px;

           span{
            border:#ff0000 1px solid;
           }

            h3{
                font-family: var(--font-family-primary);
                color: #fff;
                font-size: 16px;
                font-weight: 600;
            }
            .completo{
                display: flex;
                flex-direction: row;                
                gap: 8px;
                justify-content: space-between;
                img{
                    width:64px
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                
                justify-content: space-between;
                .titulo{
                    font-family: var(--font-family-primary);
                    color: #fff;
                    font-size: 24px; 
                    text-transform: capitalize;
                }
                .posicao{
                    font-family: var(--font-family-primary);
                    color: #fff;
                    font-size: 20px;
                    border: #ff0000 2px double;
                    border-radius: 4px;
                    padding: 4px;
                    text-transform: initial;
                    .icon{
                        width: 20px;
                    }
                }
            }
        }
    }
}


.d-block {
    border-radius: 24px;
    width: 90%;
}

.d-block-d {
    width: 32%;
    border-radius: 28px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #000;
    padding: 56px;
}

@media screen and (max-width:800px) {

    .d-block {
        border-radius: 16px;
    }

    .d-block-d {
        border-radius: 20px;
    }

    .header {
        padding: 24px;
    }
}

@media screen and (max-width: 960px) {
    h2{
        font-size: 20px;
    }
    .arrow{
        width: 20px!important;
    }
    .card{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
.destaques{
    justify-content: center!important;
    align-items: center!important;
}
h2{
    font-size: 18px;
}
}

//Responsividade


// @media screen and (max-width:) and (min-width:) {
    
// }