//Reset CSS 

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//Importando as fontes

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Variáveis
:root {
    --font-family-primary: 'Open Sans';
    --font-family-second: 'Raleway';
    --font-family-third: 'Montserrat';

}

//Estilização Menu Nav-Bar
.navbar-brand,
.nav-link,
.nav-link-dropdown-toggle,
.dropdown-item,
.d-flex {
    font-family: var(--font-family-primary);
}

#nav-bar {
    background-color: #000 !important;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-divider {
    border: none;
}

.dropdown-item {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.dropdown-item:hover {

    color: #ff0000 !important;

}


.nav-link,
.nav-link-active,
.nav-link-dropdown-toggle,
.dropdown-item,
.nav-link-disabled {
    font-size: 16px;
    color: #fff !important;

}

.dropdown-item {
    color: #000 !important;
}

.form-control {
    font-size: 16px;
    width: 304px;
    height: 32px;
    margin-top: 8px;

}

.navbar-toggler-icon {
    color: #fff !important;

}


.dropdown-item:hover {
    background-color: #fff;
}

.form-control {
    border-radius: 8px;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.btn-btn-outline-danger {
    color: #fff
}

.search {
    padding-bottom: 4px;
    width: auto
}




//Estilização logo
.logo {
    width: 148px;
}

//Estilizando a seção contato


.container-contact {
    font-size: 16px;
    font-family: var(--font-family-primary);
    color: #fff;
    padding: 80px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .titulo {
        font-size: 28px;
        font-family: var(--font-family-primary);
        color: #ff0000;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .icons {
            display: flex;
            flex-direction: row;
            gap: 4px;
        }

        .subtitle {
            margin-top: 4px;
        }

        #subtitle:hover {
            color: #ff0000;
        }

    }
}


//Estilizando o rodapé


#footer {
    background-color: #000;
    padding: 28px;    
   
    .line{
        border-top: #ff0000 4px solid;
        margin-left: 24px;
        margin-right: 24px;
    .footer {
        font-size: 15px;
        font-family: var(--font-family-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-top: 24px;

        .title,
        .subtitle {
            margin-top: 8px;
        }
    }
    }

}


//Estilização dos cards

* {
    font-family: var(--font-family-primary) !important;
}


.container-action-figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    background-color: #000;

    .content {
        .card {
            display: flex;
            align-items: center;
            border-radius: 16px !important;

            .icon-favorito {
                display: flex;
                position: absolute;
                justify-content: end;
                right: 28px;

                .icon-heart {
                    width: 24px;
                    position: relative;
                }
            }

            img {
                width: 200px
            }

            .card-body {
                .card-title {
                    font-size: 40px;
                    font-weight: 500;
                }

                .price {
                    color: #000;
                    font-size: 20px;
                    text-transform: uppercase;

                }
            }
        }
    }

    //Estilização da paginação
    

    .page-link {
        position: relative;
        display: block;
        padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
        font-size: var(--bs-pagination-font-size);
        color: #bb2d3b;
        text-decoration: none;
        background-color: #ffffff;
        border:  1.5px solid #bb2d3b;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

   #active{
    background-color:#bb2d3b; ;
    color: #fff;
   }

   nav{
    margin-top: 24px;
   }
   
   
}

// Estilização dos modais


ion-modal{
    &.modal-termos{
        --width: 360px;
        --height:520px ;
        --border-radius: 16px;
        
        &.conteudo{
            --display:flex;
            --align-items:center;
            --margin-top: 16px;
        &.h3{
            --padding: 20px;
        }
    }

    }

    &.modal-action-figures{
    --width: 440px;
    
    --border-radius: 20px;
    }
}


//Responsividade section contact
@media screen and (max-width:800px) {

    .container-contact {
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;

        .conteudo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .titulo {
            font-size: 16px;

            .icons {
                color: #fff;

            }
        }


    }

    .subtitle {
        font-size: 12px;
        font-weight: 400;
    }
}

@media screen and (max-width:300px) {
    .subtitle {
        font-size: 12px;
    }
}

//Responsividade Geral


@media screen and (min-width: 1011px) and (max-width: 1170px) {

    .logo {
        width: 110px;
    }

    .nav-link,
    .nav-link-active,
    .nav-link-dropdown-toggle,
    .dropdown-item,
    .nav-link-disabled {
        font-size: 14px;

    }

    .form-control {
        font-size: 14px;
        font-weight: 500;
        width: 304px;
        height: 30px;
        margin-top: 10px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1010px) {

    .nav-link,
    .nav-link-active,
    .nav-link-dropdown-toggle,
    .dropdown-item,
    .nav-link-disabled {
        font-size: 15px;

    }

    .form-control {
        width: 286px;
        height: 28px;
        margin-top: 10px;
        border-radius: 8px
    }
}

@media screen and (min-width:651px) and (max-width: 992px) {
    .logo {
        width: 130px;
    }

    .form-control {
        width: 326px;
        height: 24px;
        margin-top: 12px;
        border-radius: 8px
    }
}

@media screen and (min-width: 513px) and (max-width: 650px) {
    .form-control {
        width: 226px;
        height: 24px;
        margin-top: 10px;
        border-radius: 8px
    }

}


@media screen and (min-width: 455px) and (max-width: 512px) {
    .logo {
        width: 96px;
    }

    .form-control {
        width: 226px;
        height: 24px;
        margin-top: 12px;
        border-radius: 8px
    }
}

@media screen and (min-width: 415px) and (max-width:454px) {
    .logo {
        width: 82px;
    }

    .form-control {
        width: 200px;
        height: 20px;
        margin-top: 12px;
        border-radius: 8px
    }

    #button {
        height: 28px !important;
        margin-top: 7px !important;

    }

    .search {
        margin-bottom: 18px !important;
        width: 18px
    }
}


@media screen and (max-width:414px) {
    .logo {
        width: 82px;
    }

    .form-control {
        width: 174px;
        height: 18px;
        margin-top: 10px;
        border-radius: 8px
    }

    #button {
        height: 28px !important;
        margin-top: 5px !important;

    }

    .search {
        margin-bottom: 18px !important;
        width: 16px
    }
}



@media screen and (max-width:380px) {
    .logo {
        width: 68px;
    }

    .form-control {
        width: 154px;
        height: 18px;
        margin-top: 10px;
        border-radius: 8px
    }
}


@media screen and (max-width:352px) {
    .logo {
        width: 68px;
    }

    .form-control {
        width: 136px;
        height: 18px;
        margin-top: 10px;
        border-radius: 8px
    }
}

@media screen and (max-width:332px) {
    .logo {
        width: 60px;
    }

    .form-control {
        width: 116px;
        height: 18px;
        margin-top: 10px;
        border-radius: 8px
    }
}

@media screen and (max-width:300px) {
    .logo {
        width: 54px;
    }

    .form-control {
        width: 116px;
        height: 18px;
        margin-top: 10px;
        border-radius: 8px
    }
}